body {
    height: 300px;
    width: 300px;
 }
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.progress {
    position: absolute;   
    height: 160px;
    width: 160px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -80px;
}

.progress-circle {
  transform: rotate(-90deg);
	margin-top: -40px;
}

.progress-circle-back {
	fill: none; 
	stroke: #D2D2D2;
	stroke-width:10px;
}

.progress-circle-prog {
	fill: none; 
	stroke: #7E3451;
	stroke-width: 10px;  
	stroke-dasharray: 0 999;    
	stroke-dashoffset: 0px;
    transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
	width: 100%;
	position: absolute;
	top: 60px;
	text-align: center;
	font-size: 2em;
    color: white;
}

#connect{
    bottom: 10px;
    right: 98px;
    position: absolute;
    width: 100px;
    height: 30px;
    background-color:lightslategray;
}
.bodyclass{
    background-color: black;
}
.hclass{
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 5px;
}
